<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bimbel Online - Tamzr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>Bimbel Online - Tamzr</h1>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Tamzr" class="logo">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/joki-tugas">Joki Tugas</a></li>
                <!-- <li><a href="/about">About Us</a></li> -->
                <li><a href="/why-us">Why Choose Us</a></li>
                <li><a href="/bimbel-online">Bimbel Online</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h2>Bimbel Online - Belajar Dimana Saja, Kapan Saja!</h2>
        <p>Bergabunglah dengan <b>Tamzr Bimbel Online</b>, solusi belajar terbaik dengan tutor berpengalaman. Kami menawarkan layanan bimbingan yang fleksibel, efektif, dan tentunya terjangkau!</p>

        <div class="math-container">
            <h3>✩ Pilihan Layanan Bimbel Online ✩</h3>
            <p><b>Online via Google Meet / Zoom</b></p>
            <p><b>Offline (Medaeng, Waru, Sidoarjo)</b></p>
            
            <h3>Harga Paket Bimbel Online</h3>
            <ul>
                <li><b>SMP Kelas 7-9:</b> 180.000/Month</li>
                <li><b>SMA Kelas 10-12:</b> 250.000/Month</li>
                <li><b>UTBK:</b> 300.000/Month</li>
            </ul>
            
            <p>✨ <b>1 Minggu 3 Kali Pertemuan</b></p>
            <p>⏳ <b>1 Kali Pertemuan: Sekitar 1,5 Jam</b></p>
            <p>📝 <b>Setiap sesi mencakup:</b> Pembahasan Materi + Latihan Soal + Quiz</p>
            
            <h3>📚 Mata Pelajaran yang Tersedia 📚</h3>
            <ul>
                <li>🔬 <b>SMP:</b> Matematika, IPA, Bahasa Indonesia, Bahasa Inggris</li>
                <li>🔢 <b>SMA:</b> Matematika, Fisika, Bahasa Indonesia, Bahasa Inggris</li>
                <li>🌟 <b>UTBK:</b> PU, PK, PM + Pembahasan Soal-Soal Tryout UTBK</li>
            </ul>
            
            <p>📚 Dengan <b>Tamzr Bimbel Online</b>, belajar menjadi lebih menyenangkan, interaktif, dan efektif! Jangan ragu untuk bergabung dan raih prestasi terbaikmu! 🌟</p>
        </div>

        <p>📞Contact Person : 0082333970758 (WA)</p>
    </div>
    <div class="decoration math"></div>
    <div class="decoration science"></div>

    <div class="orbit-container">
        <div class="orbit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="particles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</body>
</html>
